*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-left: 15px;
    
    
}
h1{

    color: rgb(74, 48, 99);
    size: 40px;
    font-style: italic, bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 5px;
    margin-left: 100px;
}
#form{

    background-color:rgb(74, 48, 99); 
    display:inline-block;
    height:500px;
    width:350px; 
    padding: 5px; 
    text-align: center; 
    border-radius: 25px;
}
#gets{
    text-align: center;
    width:300px;
    height:50px; margin: 2px;	
    font-size:25px;	
    color:blueviolet;
    border-radius: 25px;
      
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.its{	
    width:70px;	
    height: 70px;
    font-size:25px;	
    color:blueviolet;
    margin:0 auto;
    margin: 1px;	
    text-align: center;
    border-radius: 25px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
